.seat-map-container {
    position: relative;

}

.seat-map-wrapper {
    position: relative;
    display: inline-block;
}

.seat-buttons-overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 200px
}

.seat-row {
    padding: 5px;
    margin-top: 10px;
    margin-left: 80px;
}

.seat-button {
    width: 30px; 
    height: 30px; 
    margin: 2px; 
    background-color: #3498db; 
    color: #fff; 
    border: none; 
    cursor: pointer;
}


